<div class="container mt-4">

  @if (this.isDeleting()) {
  <h3>Confirm delete</h3>
  <div class="input-group mt-2 mb-3">
    <input class="form-control rounded-2 me-2" type="text" placeholder="New book name..." #newBookName
      value="{{ this.bookToDelete().name }}" />
    <button class="btn btn-info rounded-2 me-2" (click)="deleteBook(this.bookToDelete().id)">Delete</button>
    <button class="btn btn-danger" (click)="this.isDeleting.set(false)">Cancel</button>
  </div>
  }
  
  @else if (!this.isAdding()) {
    <button class="btn btn-info" (click)="isAdding.set(true)">Create Book</button>
    <p></p>
  }


  @if (this.isAdding()) {
  <h3>Add Book</h3>
  <div class="input-group mb-3">
    <input class="form-control me-2 rounded-2" type="text" placeholder="Add book name..." #bookToAdd />
    <button class="btn btn-success" (click)="
            addBook(bookToAdd.value);
            bookToAdd.value = '';
            this.isAdding.set(false);
            this.fetchbooks()
          ">
      Save
    </button>
    <button class="ms-1 btn btn-danger" (click)="this.isAdding.set(false)">Cancel</button>
  </div>
  }

  <h4 class="mt-4">Booklist</h4>
  <div class="list-group list-group-flush">
    @for (book of books(); track book.id) {
    <div class="list-group-item d-flex align-items-center border-0">
      <span class="text-nowrap">{{ book.id }} - {{ book.name }} </span>
      <span class="ms-auto">
        <button class="btn btn-primary me-2" (click)="editBook(book.id)">Edit</button>
        <button class="btn btn-danger" (click)="considerDeleteBook(book.id)">Delete</button>
      </span>
    </div>
    } @empty {
    <p>Loading books...</p>
    }
  </div>
  <br />

  @if (this.isEditing()) {
  <h3>Editing book</h3>
  <div class="input-group">
    <input class="form-control rounded-2 me-2" type="text" placeholder="New book name..." #newBookName
      value="{{ this.bookToEdit().name }}" />
    <button class="btn btn-success rounded-2"
      (click)="updateBook(this.bookToEdit().id, newBookName.value); this.isEditing.set(false); this.fetchbooks() "
      ;>Update </button>
    <button class="ms-1 btn btn-danger" (click)="this.isEditing.set(false)">Cancel</button>
  </div>
  } @else {
  <div class="input-group">
    <br />
    <input class="form-control me-2 rounded-2" type="text" placeholder="Search books..." #bookInput />
    <button class="btn btn-success rounded-2 me-2" (click)="searchBooks(bookInput.value); bookInput.value = ''">
      Search partial
    </button>
    <button class="btn btn-secondary rounded-2" (click)="searchExactBook(bookInput.value); bookInput.value = ''">
      Search Exact
    </button>
    <button class="ms-1 btn btn-warning" (click)="fetchbooks()">Refresh</button>
  </div>
  }

</div>