<h1>Book List</h1>

@if (!this.isAdding()) {
    <button (click)="isAdding.set(true)">Add Book</button>
}

@if (this.isAdding()) {
<input type="text" placeholder="Add book name..." #bookToAdd />
<button (click)="addBook(bookToAdd.value);bookToAdd.value='';this.isAdding.set(false);this.fetchbooks()">Add Book</button>
}

<ul>
    @for (book of books(); track book.id) {
    <li>{{ book.id }} - {{ book.name }}
        <button (click)="editBook(book.id)">Edit</button>
        <button (click)="deleteBook(book.id);this.isEditing.set(false);this.fetchbooks()">Delete</button>
    </li>
    } @empty {
    <p>Loading books...</p>
    }
</ul>
<br />
  @if (this.isEditing()) {
        <input type="text" placeholder="New book name..." #newBookName value="{{this.bookToEdit().name}}" />
        <button (click)="updateBook(this.bookToEdit().name, newBookName.value);newBookName.value=''">Update</button>
        }
@else {
<input type="text" placeholder="Search books..." #bookInput />
<button (click)="searchBooks(bookInput.value);bookInput.value=''">Search partial</button>
<button (click)="searchExactBook(bookInput.value);bookInput.value=''">Search Exact</button>
}